/* for larger resolutions */
@media screen and (min-width: 768px) {
    .container {
        display: grid;
        grid-template-areas: 
        "content hero";
        grid-template-columns: 1.2fr 1fr;
        padding: 10%;
        gap: 10%;
    }

    .hide {
        display: block;
    }

    h1 {
        font-size: 5vw;
    }

    .menu_items {
        position: relative;
        height: auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .content_text button {
        margin-top: 1.5em;
    }

    .sponsors {
        justify-content: space-between;
        margin-top: 4em;
        padding: 0;
    }

    .sponsors img {
        width: 100px;
    }

    .menu_items ul {
        padding: 0;
        display: inline-flex;
        margin: 0;
    }

    .menu_items ul li {
        margin-left: 2em;
        position: relative;
    }

    .menu_items .menu_items_pages li:nth-child(-n +2)::after {
        margin-left: 4px;
        margin-top: 5px;
    }

    .menu_items .menu_items_login {
        flex-direction: row;
        margin-top: -0.7em;
    }

    .menu_items .menu_items_login #register {
        padding: 0.5em 2em;
    }

    #menu {
        display: none;
    }
    
    .content {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
}


    }

    .content p {
        padding: 0;
        font-size: 1.5vw;
    }

    .hero_mobile {
        display: none;
    }

    .hero_desktop {
        max-width: 100%;
        display: block;
    }

    #features:after, #company:after {
        content: "";
        background-image: url(images/icon-arrow-down.svg);
        position: absolute;
        width: 11px;
        height: 7px;
        top: 0;
        cursor: pointer;
    }

    /* #features:after, #company:after {
        content: "";
        background-image: url(images/icon-arrow-down.svg);
        position: absolute;
        width: 11px;
        height: 7px;
        top: auto;
        margin-left: 5px;
        margin-top: 5px;
        cursor: pointer;
    } */

    .menu_items_pages .features {
        display: flex;
        flex-direction: column;
        background-color: white;
        box-shadow: 0px 0px 18px 1px #00000040;
        border-radius: 0.5em;
        padding: 1em;
        margin-top: 0px;
        margin-left: 0px;
        position: absolute;
        width: 130px;
        display: none;
        margin-top: 1em;
        margin-left: -72px;
    }
}